<br>
<%if @angler%>
<p>Edit your personal information below</p><br>

<%= form_for @angler do |f|%>
 <%= render 'form'%>

  <div>
    <p><%= f.label :username%>:
    <%= f.text_field :username%></p><br>
    <p><%= f.label :email%>:
    <%= f.email_field :email%></p><br>
    <p><%= f.label :password%>:
    <%= f.password_field :password%></p><br>
    <p><%= f.label :hometown%>:
    <%= f.text_field :hometown%></p><br>
    <p><%= f.label :age%>:
    <%= f.number_field :age%></p><br>
    <p><%= f.submit 'Edit Angler'%></p>
  </div> 
<%end%><br>

<%else%>
    <h3>This angler cranks his reel elsewhere</h3>
<%end%>

<% if logged_in?%>
    <%= current_user.username%>
<% else%>
    <h3>No angler is logged in</h3>
<%end%>
