<br>
<%if @angler%>
<p>Edit your personal information below</p><br>

<%= form_for @angler do |f|%>
  <div id="error_explanation">
    <h2><%= pluralize(@angler.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @angler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>


    <%= f.label :username%>:
    <%= f.text_field :username%><br>
    <%= f.label :email%>:
    <%= f.text_field :email%><br>
    <%= f.label :password%>:
    <%= f.password_field :password%><br>
    <%= f.label :hometown%>:
    <%= f.text_field :hometown%><br>
    <%= f.label :age%>:
    <%= f.number_field :age, step: :any%><br>
    <%= f.submit 'Edit Angler'%>
<%end%><br>

<%else%>
    <h3>This angler cranks his reel elsewhere</h3>
<%end%>

<% if logged_in?%>
    <%= current_user.username%>
<% else%>
    <h3>No angler is logged in</h3>
<%end%>