<br>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %><br>

<h3>Below you will find the fish you caught over ten pounds.</h3>

<% if @angler%>
    <%= @angler.username%><br><br>
    <% @fish.each do |f|%>
    <div>
        <p><%= f.weight%>lb <%= f.type.name%></p><br>
    </div>
    <%end%>

    <h3>Click the link below to delete your profile.</h3><br>

    <%= form_tag angler_path(@angler), method: 'delete' do %>
        <%= submit_tag 'Delete Profile'%>
    <%end%>
<%else%>
    <h3>This angler cranks his reel elsewhere</h3>
<%end%>