<br>
<%= form_for @type do |f|%>
  <div id="error_explanation">

    <ul>
      <% @type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <p><%= f.label :name%>
    <%= f.text_field :name%></p><br>
    <%= f.submit 'Create or Edit Fish Type'%>
  </div>
<%end%>