<!DOCTYPE html>
<html>
  <head>
    <title>Fishing Tournament</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
    <div>
      <% if !logged_in? %>
        <%= link_to 'Home', root_path%> ||
        <%= link_to 'Sign Up', 'signup'%> ||
        <%= link_to 'Log In', '/login'%>
      <%else%>
        <%= link_to 'Home', root_path%> ||
        <%= link_to 'Your Page', angler_path(current_user)%> ||
        <%= link_to 'Log Out', '/logout'%><br>
      <%end%>
    </div>

    <%= yield %>

  <footer class="branding">
    <small>&copy; 2021 <strong>Eagle's Claw Tournament Fishing</strong></small>
  </footer>

  </body>
</html>
