<br>
<% if @fish%>
<%= form_for @fish do |f|%>
  <%= render 'form'%>

    <%= f.label :weight%>
    <%= f.number_field :weight, step: :any%><br>
    <%= f.submit 'Update Fish\'s Weight'%>
    <%end%><br>
<%else%>
    <h3>This fish is with us no more</h3>
<%end%>