<br>
<% if @fish%>
<%= form_for @fish do |f|%>
  <div id="error_explanation">
    <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @fish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

    <%= f.label :weight%>
    <%= f.number_field :weight%><br>
    <%= f.submit 'Update Fish\'s Weight'%>
    <%end%><br>
<%else%>
    <h3>This fish is with us no more</h3>
<%end%>