<br>

<p><%= @fish.angler.username%>, here is the fish you requested. You may edit its weight.</p><br>
<% if @fish%>
<%= form_for @fish do |f|%>
  <%= render 'form'%>
<h3>***Set weight to 0, to eliminate fish's weight from your total.***</h3>
    <p><%= f.label :weight%>
    <%= f.number_field :weight, step: :any%></p><br><br>
<h2 class="edit_red">You must enter the fish's previous weight below: <%= @fish.weight%></h2><br>    
    <p class="edit_red"><%= f.label :previous_weight%>
    <%= f.number_field :previous_weight, step: :any%></p><br>
    <%= f.submit 'Update Fish\'s Weight'%>
    <%end%><br>
<%else%>
    <h3>This fish is with us no more</h3>
<%end%>