<br>
<% if @fish && @fish.type%>
Fish's Weight: <%= @fish.weight%><br>
Fish's Type: <%= @fish.type.name%><br>
Fish's Angler ID: <%= @fish.angler.name%><br><br>

<%= form_tag fish_path(@fish), method: 'delete' do %>
    <%= submit_tag 'Delete Fish'%>
<%end%><br>

<%else%>
<h3>This fish is with us no more</h3>
<%end%>

